:root {
    --back-ground-color: rgb(59, 89, 152);
    --main-color: #538ADC;
}

body {
    margin: 0;
    font-family: tahoma,arial,sans-serif;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 71px;
    background-color: var(--back-ground-color);
}

.header-info {
    width: 53%;
    margin: 0;
    float: right;
    padding-top: 5px;
}

.header-info h1{
    margin: 0;
    color: var(--main-color);
}

.header-info ul{
    margin: 0;
    float: left;
    padding: 0;
}

.header-info ul li{
    float: left;
    list-style: none;
    padding-right: 12px;
}

.header-info a{
    color: #fff;
    text-decoration: none;
    font-size: 11px;
}